html {
    height: 100%;
    box-sizing: border-box;
    background: #7bb7db;
    font-size: 28px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}



body {
    margin:0;
    min-height: 100%;
    position: relative;
    padding-bottom: 5rem;
    background-image: url("images/big-boat.jpg?1");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}


header {
    width: 100%;
    background:#5f5f5f;
    text-align: justify;
    padding-bottom: .8rem;
    padding-top: .8rem;
    padding-left: .2rem;
    padding-right: .2rem;
}

nav {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    margin: auto;
    justify-content: space-between;
}

nav a {
    font-size: 1.5rem;
    color: lightgrey;
}

header a:hover,#link-selected {
    color: white;
    text-decoration: underline;
    text-align: left;
}

img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    border-radius: 2px;
}

section {
    margin: 12px auto;
    box-shadow: 0 10px 5px 1px rgba(0,0,0,.26);
    background:white;
    padding: 1rem;
    max-width: 600px;
    border-radius: 5px;
}

select {
    margin-top: 1rem;
}

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left middle right" 
}

.left {
    grid-area: left;
}

.middle {
    grid-area: middle;
}

.right {
    grid-area: right;
}

@media (max-width: 700px){
    nav a {
        font-size: 1rem;
    }
    
    #gallery {
        display: block;
    }
}
